<div style="width: 12rem">
  <img
    src="/assets/img/{{ this }}.png"
    class="card-img-top cambiar_color"
    id="cambiar_color"
    alt="{{ this }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ this }}</h5>
  </div>
</div>
